version: 2
updates:
  # Keep Maven dependencies up to date
  - package-ecosystem: "maven"
    directories:
      - "/ecs-tasks/netex2gtfs-entur"
      - "/ecs-tasks/netex-entur"
      - "/ecs-tasks/gbfs-entur"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7 # Wait 7 days for any update
      semver-major-days: 14 # Wait 14 days for major version bumps
    groups:
      dev-deps:
        dependency-type: "development"
      prod-deps:
        dependency-type: "production"
  # Keep Python dependencies up to date
  - package-ecosystem: "pip"
    directories:
      - "/ecs-tasks/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7 # Wait 7 days for any update
      semver-major-days: 14 # Wait 14 days for major version bumps
    groups:
      python-deps:
        patterns:
          - "*"
  # Keep Docker dependencies up to date
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7 # Wait 7 days for any update
    ignore:
      # Ignore updates to Java versions other than 21
      - dependency-name: "eclipse-temurin"
        update-types: ["version-update:semver-major"]
      - dependency-name: "maven"
        update-types: ["version-update:semver-major"]
      # Ignore updates to Node versions other than 21
      - dependency-name: "node"
        update-types: [ "version-update:semver-major" ]
  # keep used GitHub Actions up to date
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7 # Wait 7 days for any update
    groups:
      actions-deps:
        patterns:
          - "*"
